.capabilities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.job-position {
  margin-bottom: 20px;
}

.job-position h2 {
  font-size: 2rem;
  color: var(--color-bg-footer);
  margin-bottom: 10px;
}
.tasks {
  display: flex;
  flex-direction: column;
}

.task {
  margin-bottom: 10px;
}

.task h3 {
  font-family: var(--font-family-fox_trot);
  font-size: 1.1rem;
  border-bottom: 1px solid var(--color-bg-header);
  margin-bottom: 5px;
}

.task p {
  font-family: var(--font-family-handwriting);
  font-size: 1rem;
}
.task span {
  font-family: var(--font-family-handwriting);
  text-decoration: underline;
  cursor: pointer;
}
