.contact-container {
  font-family: 'Bernadette';
  margin: 50px auto;
  max-width: 800px;
  padding: 0 20px;
}

.contact-container h2 {
  font-family: var(--font-family-fox_trot);
  font-size: 2rem;
  text-align: center;
}

.contact-container p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.contact-container p:last-child {
  text-align: left;
  font-size: 0.95rem;
}

.contact-container ul {
  list-style: none;
  margin: 1.5rem;
  padding: 0;
}

.contact-container li {
  margin-bottom: 10px;
}

.contact-container a {
  color: var(--color-bg-header);
  text-decoration: none;
  transition: all 0.3s ease;
}

.contact-container a:hover {
  color: var(--color-bg-footer);
}

.contact-container .icon {
  margin-right: 10px;
}

p > span {
  font-family: var(--font-family-fox_trot);
  color: var(--color-bg-footer);
}
.contact-email-btn {
  width: 100%;
  margin: 1rem 0;
  color: var(--color-bg-footer);
  background-color: var(--color-bg-header);
  border: none;
}
.contact-email-btn:hover {
  width: 100%;
  margin: 1rem 0;
  color: var(--color-bg-header);
  background-color: var(--color-bg-footer);
  border: none;
}
.contact-container > .contact-section, .contact-container > .quater-underlining {
  margin-bottom: 2rem;
}
.form-control:focus {
  border-color: var(--color-bg-footer) !important;
  box-shadow: 0 0 0 0.2rem var(--color-bg-header) !important;
}
