.contact-container {
  font-family: 'Ubuntu', sans-serif;
  margin: 50px auto;
  max-width: 800px;
  padding: 0 20px;
}

.contact-container h2 {
  font-family: var(--font-family-fox_trot);
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.contact-container p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}

.contact-container p:last-child {
  text-align: left;
  font-size: 0.95rem;
}

.contact-container ul {
  list-style: none;
  margin: 1.5rem;
  padding: 0;
}

.contact-container li {
  margin-bottom: 10px;
}

.contact-container a {
  align-items: center;
  color: #555;
  display: flex;
  text-decoration: none;
  transition: all 0.3s ease;
}

.contact-container a:hover {
  color: var(--color-bg-footer);
}

.contact-container .icon {
  margin-right: 10px;
}

p > span {
  font-family: var(--font-family-fox_trot);
  color: var(--color-bg-footer);
}