.carousel-wrapper {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.gallerie .carousel-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallerie .carousel-item .active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallerie .carousel-item {
  margin-right: -56%;
}

.gallerie .carousel-item img {
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 600px;
  object-fit: contain;
}

@media screen and (max-width:450px) {
  .gallerie .carousel-item {
    margin-right: 0%;
  }
}