/* header part */
a, a:visited {
    text-decoration: none;
}

.header {
    background: var(--color-bg-header);
    height: calc(12rem + 30vw);
}

.container {
    margin: 0 auto;
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
}
.primary-header {
    font-family: var(--font-family-fox_trot);
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: space-between;
}
.logo {
    color: var(--color-bg-footer);
    font-size: 2rem;
}
.menu {
    font-size: 0.9rem;
}
.menu a {
    color: var(--color-lightyellow);
    padding: 2rem;
    padding-right: 0px;
}

.header-body {
    padding-top: 25px;
    
    display: flex;
}
.left-side {
    width: 50%;
    text-align: center;
    padding-right: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-side-container {
    width: 50%;
}
.left-side-container h1 {
    font-family: var(--font-family-fox_trot);
    font-size: calc(1rem + 2vw);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-lightyellow);
    color: var(--color-bg-footer);
}
.left-side-container p {
    padding-top: 20px;
    font-family: var(--font-family-handwriting);
    font-size: calc(0.1rem + 1vw);
    padding-bottom: 10px;
}
.right-side {
    flex: 0 0 50%;
}
.right-side-container {
    width: 100%;
}
.right-side img {
    width: 100%;
    height: auto;
}
.left-side-container button {
    color: var(--color-bg-footer);
    font-family: var(--font-family-fox_trot);
    background-color: var(--color-bg-header);
    border: 1px solid var(--color-bg-footer);
    font-size: 1.2rem;
    padding: 1px 18px;
}


@media screen and (max-width:450px) {
    .header {
        height: calc(18rem + 100vw);
    }
    .header-body {
        flex-direction: column;
        align-items: center;
    }
    .left-side {
        order: 1;  
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left-side-container {
        width: 75%;
    }
    .left-side-container h1 {
        font-size: calc(2rem + 3vw);
        padding-top: 25px;
        border-bottom: none;
        margin-bottom: 0;
    }
    .left-side-container p {
        font-size: calc(0.5rem + 1vw);
    }
    .underlining {
        width: 50%;
        border-bottom: 1px solid var(--color-lightyellow);
        margin-left: auto;
        margin-right: auto;
    }
}